/StudyWithMe/build/
/StudyWithMe/nbproject/private/
/Project/build/
/Noti/build/
/miniCalendar/nbproject/private/
/Calendar/nbproject/private/
/Stopwatch&Timer2/nbproject/private/
/Stopwatch&Timer2/build/
/taskGUI - Copy/build/
/taskGUI - Copy/dist/
/taskGUI - Copy/nbproject/private/
/Stopwatch&Timer/build/
/Stopwatch&Timer/nbproject/private/
/Stopwatch&Timer/dist/
